In [14]:
import tensorflow_decision_forests as tfdf

import os
import numpy as np
import pandas as pd
import tensorflow as tf
import math

try:
  from wurlitzer import sys_pipes
except:
  from colabtools.googlelog import CaptureLog as sys_pipes

from IPython.core.magic import register_line_magic
from IPython.display import Javascript

In [4]:
print("Found TensorFlow Decision Forests v" + tfdf.__version__)

Found TensorFlow Decision Forests v1.5.0

In [8]:
# Download the dataset
!wget -q https://storage.googleapis.com/download.tensorflow.org/data/palmer_penguins/penguins.csv -O penguins.csv

# Load a dataset into a Pandas Dataframe.
dataset_df = pd.read_csv("penguins.csv")

# Display the first 3 examples.
dataset_df.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [9]:
# Encode the categorical label into an integer.
#
# Details:
# This stage is necessary if your classification label is represented as a
# string. Note: Keras expected classification labels to be integers.

# Name of the label column.
label = "species"

classes = dataset_df[label].unique().tolist()
print(f"Label classes: {classes}")

dataset_df[label] = dataset_df[label].map(classes.index)

dataset_df

Label classes: ['Adelie', 'Gentoo', 'Chinstrap']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,0,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,0,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,0,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,0,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,2,Dream,55.8,19.8,207.0,4000.0,male,2009
340,2,Dream,43.5,18.1,202.0,3400.0,female,2009
341,2,Dream,49.6,18.2,193.0,3775.0,male,2009
342,2,Dream,50.8,19.0,210.0,4100.0,male,2009
343,2,Dream,50.2,18.7,198.0,3775.0,female,2009

In [10]:
# Split the dataset into a training and a testing dataset.

def split_dataset(dataset, test_ratio=0.30):
  """Splits a panda dataframe in two."""
  test_indices = np.random.rand(len(dataset)) < test_ratio
  return dataset[~test_indices], dataset[test_indices]


train_ds_pd, test_ds_pd = split_dataset(dataset_df)
print("{} examples in training, {} examples for testing.".format(
    len(train_ds_pd), len(test_ds_pd)))

234 examples in training, 110 examples for testing.

In [11]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_ds_pd, label=label)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test_ds_pd, label=label)

2023-09-22 15:50:30.594344: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:30.690695: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:30.690935: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:30.692816: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:30.693008: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:30.693148: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:31.566354: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:31.566521: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:31.566618: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-22 15:50:31.566717: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 2639 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1650, pci bus id: 0000:01:00.0, compute capability: 7.5

In [13]:
# Specify the model.
model_1 = tfdf.keras.RandomForestModel()

# Optionally, add evaluation metrics.
model_1.compile(
    metrics=["accuracy"])

model_1.fit(x=train_ds)

Use /tmp/tmpjogpm51w as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.194934. Found 234 examples.
Training model...
Model trained in 0:00:00.055773
Compiling model...
Model compiled.

[INFO 23-09-22 15:52:10.0521 -03 kernel.cc:1243] Loading model from path /tmp/tmpjogpm51w/model/ with prefix 8b5d49c4e7b64919
[INFO 23-09-22 15:52:10.0592 -03 decision_forest.cc:660] Model loaded with 300 root(s), 4372 node(s), and 7 input feature(s).
[INFO 23-09-22 15:52:10.0592 -03 abstract_model.cc:1311] Engine "RandomForestGeneric" built
[INFO 23-09-22 15:52:10.0592 -03 kernel.cc:1075] Use fast generic engine

In [17]:
y_pred = model_1.predict(x=test_ds)

1/1 [==============================] - 0s 64ms/step

In [22]:
import sys
sys.path.append('../') 
import utils_exec_models as ut

In [26]:
from sklearn.metrics import classification_report

print(classification_report(
    test_ds_pd.species.values, 
    y_pred, 
#     target_names=target_names
))

ValueError: Classification metrics can't handle a mix of multiclass and continuous-multioutput targets

In [27]:
test_ds_pd.species

3      0
4      0
6      0
7      0
8      0
      ..
330    2
331    2
333    2
337    2
343    2
Name: species, Length: 110, dtype: int64

In [28]:
y_pred

array([[0.63333285, 0.15999992, 0.20666654],
       [0.99999917, 0.        , 0.        ],
       [0.99666584, 0.        , 0.00333333],
       [0.99666584, 0.00333333, 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.9933325 , 0.        , 0.00666667],
       [0.99666584, 0.        , 0.00333333],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.9899992 , 0.00666667, 0.00333333],
       [0.99666584, 0.        , 0.00333333],
       [0.99666584, 0.        , 0.00333333],
       [0.76666605, 0.00333333, 0.22999986],
       [0.9933325 , 0.        , 0.00666667],
       [0.99666584, 0.00333333, 0.        ],
       [0.9399992 , 0.        , 0.06000001],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.9933325 , 0.00333333, 0.00333333],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.9399992 , 0.00333333, 0.05666667],
       [0.9833325 , 0.        , 0.01666667],
       [0.99666584, 0.        , 0.00333333],
       [0.99999917, 0.        , 0.        ],
       [0.9899992 , 0.        , 0.01      ],
       [0.99666584, 0.        , 0.00333333],
       [0.93333256, 0.06666667, 0.        ],
       [0.826666  , 0.16333325, 0.01      ],
       [0.9933325 , 0.        , 0.00666667],
       [0.9933325 , 0.00666667, 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.9933325 , 0.00333333, 0.00333333],
       [0.96333253, 0.03333334, 0.00333333],
       [0.9166659 , 0.05333334, 0.03      ],
       [0.99999917, 0.        , 0.        ],
       [0.99666584, 0.        , 0.00333333],
       [0.836666  , 0.1466666 , 0.01666667],
       [0.99999917, 0.        , 0.        ],
       [0.99999917, 0.        , 0.        ],
       [0.99666584, 0.        , 0.00333333],
       [0.9899992 , 0.        , 0.01      ],
       [0.9733325 , 0.        , 0.02666667],
       [0.9466659 , 0.00333333, 0.05      ],
       [0.99999917, 0.        , 0.        ],
       [0.82333267, 0.1466666 , 0.03      ],
       [0.9833325 , 0.        , 0.01666667],
       [0.99666584, 0.        , 0.00333333],
       [0.99666584, 0.        , 0.00333333],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.20666654, 0.77666605, 0.01666667],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.05666667, 0.9233326 , 0.02      ],
       [0.18333323, 0.7033328 , 0.11333329],
       [0.        , 0.99999917, 0.        ],
       [0.06000001, 0.91999924, 0.02      ],
       [0.18666656, 0.7699994 , 0.04333334],
       [0.        , 0.99999917, 0.        ],
       [0.01333333, 0.9833325 , 0.00333333],
       [0.        , 0.99999917, 0.        ],
       [0.04666667, 0.94333255, 0.01      ],
       [0.03      , 0.96333253, 0.00666667],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.03666667, 0.9399992 , 0.02333334],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.24333318, 0.5166663 , 0.23999985],
       [0.03      , 0.9499992 , 0.02      ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.00333333, 0.9899992 , 0.00666667],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.        , 0.99999917, 0.        ],
       [0.01      , 0.        , 0.9899992 ],
       [0.10999996, 0.00333333, 0.88666594],
       [0.04666667, 0.        , 0.95333254],
       [0.03      , 0.        , 0.9699992 ],
       [0.01666667, 0.        , 0.9833325 ],
       [0.05333334, 0.        , 0.9466659 ],
       [0.        , 0.        , 0.99999917],
       [0.07333333, 0.01      , 0.9166659 ],
       [0.5199996 , 0.01333333, 0.4666663 ],
       [0.01666667, 0.        , 0.9833325 ],
       [0.13999994, 0.16333325, 0.6966661 ],
       [0.02      , 0.        , 0.9799992 ],
       [0.00333333, 0.        , 0.99666584],
       [0.01333333, 0.        , 0.98666584],
       [0.5599996 , 0.00666667, 0.433333  ],
       [0.        , 0.        , 0.99999917],
       [0.02666667, 0.        , 0.9733325 ],
       [0.01      , 0.        , 0.9899992 ],
       [0.00333333, 0.        , 0.99666584]], dtype=float32)